<div class="page-header">
  <%= link_to new_video_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    アップロード
  <% end %>
  <h1>動画情報</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>動画名</th>
        <th>解決</th>
        <th>未解決</th>
        <th>総数</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @videos) do |video| %>
        <td><%= video.name %></td>
        <td>10</td>
        <td>20</td>
        <td>30</td>
        <td><%= link_to '削除', video, method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
