.page-header
  = link_to videos_path, class: 'btn btn-default' do
    span.glyphicon.glyphicon-list-alt
    |  Back 
  = link_to edit_video_path(@video), class: 'btn btn-primary' do
    span.glyphicon.glyphicon-pencil
    |  Edit 
  h1
    | Show video
dl.dl-horizontal
