<div class="page-header">
  <h1>MMDクレジット</h1>
</div>
<% unless current_user %>
  <%= link_to image_tag("sign-in-with-twitter-gray.png"), '/auth/twitter' %> <small>当サイトを利用するにはログインが必要です。</small>
<% end %>
デザイン求む・・・
