.page-header
  h1
    | 貢献度ランキング
.table-responsive
  table.table.table-striped.table-bordered.table-hover
    tbody
      - @ranks.each do | rank |
        |  <tr 
        - if rank['user'].id == @current_user.id then
          |  class="success" 
        | > 
        td.text-right
          = rank["rank"]
        td
          | <img src="https://furyutei.work/gadget/twicon/
          = rank['user'].screen_name
          | /mini" class="img-rounded"> <a href="https://twitter.com/
          = rank['user'].screen_name
          | " target="_blank">
          = rank["user"].name
        td
          = number_to_currency rank["point"], :unit => 'pt'
