<div class="page-header">
  <%= link_to emms_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    戻る
  <% end %>
  <h1>EMM登録</h1>
</div>
<%= render 'form' %>
