<div class="page-header">
  <%= link_to video_emms_path(@emm.video_id), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1><%= @emm.original_name %> <small>Emmの詳細情報</small></h1>
</div>

<dl class="dl-horizontal">
  <dt>Original name:</dt>
  <dd><%= @emm.original_name %></dd>

  <dt>Save file name:</dt>
  <dd><%= @emm.save_file_name %></dd>

</dl>
