<div class="page-header"><h1>お知らせ</h1></div>
<dl>
    <dt>2016/02/22</dt>
    <dd><a href="#">うぇうぇっうぇっうぇうぇーーーーーーーい</a></dd>
    <dt>2016/02/22</dt>
    <dd><a href="#">うぇうぇっうぇっうぇうぇーーーーーーーい</a></dd>
    <dt>2016/02/22</dt>
    <dd><a href="#">うぇうぇっうぇっうぇうぇーーーーーーーい</a></dd>
</dl>
<hr>
<h2>更新情報</h2>
<dl>
    <dt>2016/02/22 20:22:22</dt>
    <dd>クレジット：<a href="#">xxxx</a> 登録</dd>
</dl>
