<div class="page-header">
<% if current_user && current_user['is_admin'] %>
  <%= link_to new_info_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    新規作成
  <% end %>
<% end %>
  <h1>お知らせ一覧</h1>
</div>

<div class="table-responsive">
  <table class="table table-stripe table-hover">
    <tbody>
      <% @infos.each do |info| %>
          <tr>
            <td width="100"><%= info.date %></td>
            <td><%= link_to info.title, info %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
